* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg, #232526, #414345);
    /* Dark gradient */
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

header h1 {
    flex: 1 0 50%;
    color: white;
}

header nav {
    flex: 1 0 50%;
    display: flex;
    color: white;
    

}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;

}

header li {
    list-style: none;
    padding-right: 10%;
   

}



main,
footer {
    display: flex;
    flex-wrap: wrap;
    
}

aside {
    border-right: 2px solid black;
    flex: 1 0 15%;
    display: flex;
    justify-content: end;
    padding: 1% 2%;
}

section {
    display: flex;
    flex: 1 0 80%;
    padding: 1% 2%;
}

footer li {
    list-style: none;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.avatar {

    width: 10vw;
    margin: 2px 10px 2px 2px;
    padding: 2px;
}

.flex-column {
    flex-direction: column;
    text-align: center;
}

.color-font-white {
    color: white;
}

#contact-details {

    flex-direction: column;
    font-weight: bolder;
    font-size: 20px;

}

#avatar-section {

    justify-content: space-around;
    align-items: center;

}

#avatar-section p{
    font-weight: 600;
    font-size: 25px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#big-pic img {
    width: 60%;


}

#hero {
    background: url(https://plus.unsplash.com/premium_photo-1673688152102-b24caa6e8725?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWF0cml4fGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 5%;


}

#small-pics {
    display: flex;
    flex-wrap: wrap;
}

#small-pics section {
    flex: 1 0 45%;
}

#small-pics img {
    width: 100%;
}


@media screen and (max-width: 768px){

    header {
        flex-direction: column;

    }

    header ul {
        justify-content: center;
        text-align: center;
    }

    header li {
        padding: 5px;
    }

    #avatar-section{
        display: flex;
        flex-direction: column;
}

aside {
    justify-content: start;
}
#avatar-section p{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    }
    
    section {
        flex: 1 0 100%;
    }
    #contact-details {

        flex-direction: column;
        font-weight: bold;
        font-size: 0.8rem;
    
    }

}